* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

.wrapper {
  width: 100%;
  height: auto;
}

a {
  color: #000;
  text-decoration: none;
}

ul {
  list-style-type: none;
}
