header {
  background-color: $primaryBgColor;
  color: $primaryFontColor;
  text-align: center;
  padding-top: 20px;

  .homepage {
    padding: 20px 0;

    a {
      color: $primaryFontColor;
    }
  }
}
